.app__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
    padding: 1rem 2rem;
}

.app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
    display: flex;
}

.app__navbar-links li :hover {
    color: var(--color-grey);
}

.app__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__navbar-login :hover {
    color: var(--color-grey);
}

.app__navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
}