.service_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  background-repeat: no-repeat;
  background-image: url(../../../Images/Background.jpg);
  height: 100vh;
  width: 100%;
}

.leftSide {
  flex: 1;
  padding-right: 10%;
}

.rightSide {
  flex: 1;
}

.mainheading {
  color: #fff;
  font-size: 45px;
}

.mainpara {
  color: #fff;
}

.startedbutton {
  padding: 10px 35px;
  background-color: transparent;
  border: 2px solid #ffffff;
  margin-top: 5%;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.startedbutton:hover{
  background-color: #ff5300;
  border: 2px solid #ff5300;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 470px;
  width: 400px;
}

.submitformlabel {
  margin-bottom: 8px;
  color: #333;
}

.submitforminput {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.getintouch{
  padding: 10px;
  margin-top: 10%;
  background-color: #ff5300;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.getintouch:hover{
  background-color: #000000;
}

.changecolor{
  color: #2693fa;
}