.tabs {
  display: flex;
  justify-content: center;
  height: 120px;
  gap: 90px;
}

.tabs span {
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
}

.tabs span:hover {
  color: #ff5300;
  text-decoration: underline;
}

.tabs span.active {
  text-decoration: underline;
  color: #007bff;
}

.content {
  height: auto;
}

.imageclass {
  width: 60px;
}

.ot_iconpara {
  font-size: 18px;
  font-weight: 400;
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
}

.ociconpaddingtop {
  padding-top: 2%;
}

.ots_mainhead {
  text-align: center;
  line-height: 1.4em;
  font-weight: 700;
  margin-bottom: 35px;
}


@media all and (max-width: 980px) {
  .tabs {
    gap: 20px;
  }

  .tabs span {
    font-size: 15px;
  }

  .ots_mainhead{
    margin-bottom: 0px;
    font-size: 20px;
  }
}

@media all and (max-width: 552px) {
  .tabs {
    padding: 0px 5%;
    height: 60px;
  }

  .tabs span {
    font-size: 13px;
  }

}

@media all and (max-width: 470px) {
  .imageclass {
    width: 50px;
  }

  .ot_iconpara {
    font-size: 15px;
  }
}

@media all and (max-width: 375px) {
  .tabs {
    gap: 10px;
  }

  .tabs span {
    font-size: 13px;
  }

  .imageclass {
    width: 40px;
  }

  .ot_iconpara {
    font-size: 13px;
  }

  .ociconpaddingtop {
    padding-top: 0.5%;
  }
}