.tabs {
    display: flex;
    justify-content: center;
    height:120px;
    gap: 90px;
  }
  
  .tabs span {
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
  }
  
  .tabs span:hover {
    color: #ff5300;
    text-decoration: underline;
  }
  
  .tabs span.active {
    text-decoration: underline;
    color: #007bff;
  }
  
  .content {
    height: auto;
  }
  
  .imageclass{
    /* margin-left: 4%; */
    width: 60px;
    /* height: 180; */
  }