.year {
    font-size: 22px;
    color: #2693fa;
}

.contentTitle {
    color: #000000;
    font-size: 22px;
}

.contentText {
    font-size: 16px;
    font-weight: normal;
}

.textHeading {
    line-height: 2;
    font-size: 24px;
    color: #2693fa;
}

.img1 {
    background-repeat: no-repeat;
    background-image: url("../../Images/about1.webp");
    background-size: contain;
    background-position: center;
    height: 500px;
}

.img2 {
    background-repeat: no-repeat;
    background-image: url("../../Images/about2.webp");
    background-size: contain;
    background-position: center;
    height: 500px;
}

.img3 {
    background-repeat: no-repeat;
    background-image: url("../../Images/about3.webp");
    background-size: contain;
    /* background-position: center; */
    height: 500px;
}

.img4 {
    background-repeat: no-repeat;
    background-image: url("../../Images/about4.jpg");
    background-size: contain;
    /* background-position: center; */
    height: 500px;
}

.img5 {
    background-repeat: no-repeat;
    background-image: url("../../Images/about5.webp");
    background-size: contain;
    background-position: center;
    height: 500px;
}

.img6 {
    background-repeat: no-repeat;
    background-image: url("../../Images/about6.webp");
    background-size: contain;
    /* background-position: center; */
    height: 500px;
}

.ml-10 {
    margin-left: 10px;
}

.marginsliderclass {
    margin-left: 9%;
}

.aboutustext {
    margin-bottom: 3%;
}

@media all and (max-width : 980px) {
    .aboutustext {
        text-align: center;
    }
    .aboutusdesc{
        text-align: center;
        padding-right: 7%;
    }
    .buttonalignau{
        text-align: center;
    }
}
@media screen and (max-width: 1024px) {
    .year {
        margin-top: -8px;
        font-weight: bold;
        font-size: 22px;
        color: #2693fa;
    }
    .contentTitle {
        margin-top: -8px;
        color: #000000;
        font-size: 16px;
        font-weight: bold;
    }
    .crafting {
        margin-top: -8px;
        color: #000000;
        font-size: 20px;
        font-weight: bold;
    }
    .contentText {
        font-size: 14px;
        font-weight: normal;
    }
    .textHeading {
        font-size: 16px;
        color: #2693fa;
    }
    .img1 {
        background-repeat: no-repeat;
        background-image: url("../../Images/about1.webp");
        background-size: contain;
        background-position: center;
        height: 300px;
    }
    .img2 {
        background-repeat: no-repeat;
        background-image: url("../../Images/about2.webp");
        background-size: contain;
        background-position: center;
        height: 300px;
    }
    .img4 {
        background-repeat: no-repeat;
        background-image: url("../../Images/about4.jpg");
        background-size: contain;
        background-position: center;
        height: 160px;
    }
}
