.spcontainer {
  display: flex;
  align-items: center;
}

.spleft-side {
  padding: 6% 0%;
  width: 75%;
  height: 520px;
  background-color: #2693fa
}

.spleft-sideImg {
  position: absolute;
  left: 14%;
  margin-top: 20px;
  display: flex;
  height: 400px;
  width: 360px;
  border-radius: 1px solid #d9d9d9;
}

.spright-side {
  padding: 0% 12% 0% 2%;
  width: 60%;
}

.tabsp {
  display: flex;
  flex-wrap: wrap;
  height: 25px;
  font-size: 18px;
  font-weight: 600;
  gap: 20px;
  cursor: pointer;
}

.active-tabsp {
  border-bottom: 2px solid #d9d9d9;
  color: #2693fa;
}

.tabsp-content {
  margin-top: 20px;
  transition: all 1s ease 2ms;
}

.sppara {
  font-weight: 400;
  font-size: 20px;
}

.spdesc {
  font-weight: 400;
  font-family: 'DM Sans', Helvetica, Arial, Lucida, sans-serif;
  line-height: 1.6em;
  transition: all 0.9s ease 2ms;
  font-size: 16px;
}

.spmainheading {
  font-size: 34px;
  line-height: 1.4em;
  font-weight: 700;
  font-family: 'DM Sans', Helvetica, Arial, Lucida, sans-serif;
}

.spleftwidth {
  width: 40%;
}

@media all and (max-width : 1310px) {
  .spleft-sideImg {
    height: 380px;
    width: 340px;
  }
}

@media all and (max-width : 1260px) {
  .spleft-sideImg {
    height: 370px;
    width: 330px;
  }
}

@media all and (max-width : 1220px) {
  .spleft-sideImg {
    left: 13%;
  }
}

@media all and (max-width : 1180px) {
  .spleft-sideImg {
    height: 360px;
    width: 320px;
  }
}

@media all and (max-width : 1140px) {
  .spleft-sideImg {
    left: 12%;
  }
}

@media all and (max-width : 1100px) {
  .spleft-sideImg {
    left: 11%;
  }
}

@media all and (max-width : 1160px) {
  .spleft-sideImg {
    left: 10%;
  }
}

@media all and (max-width : 1120px) {
  .spleft-sideImg {
    height: 360px;
    width: 310px;
  }

  .tabsp {
    font-size: 16px;
  }

  .spdesc {
    font-size: 15px;
  }
}

@media all and (max-width : 1120px) {
  .spleft-sideImg {
    height: 350px;
    width: 300px;
  }

  .tabsp {
    font-size: 15px;
  }

  .spdesc {
    font-size: 14px;
  }
}

@media all and (max-width : 980px) {
  .spcontainer {
    flex-direction: column;
  }

  .spleftwidth {
    width: 0%;
  }

  .spleft-side {
    padding: 0%;
    width: 0%;
    height: 0px;
    background-color: none
  }

  .spleft-sideImg {
    position: absolute;
    left: 0%;
    margin-top: 0px;
    display: none;
  }

  .spright-side {
    padding: 6%;
    width: 100%;
  }

  .tabsp {
    font-size: 18px;
  }

  .spdesc {
    font-size: 16px;
  }
}

@media all and (max-width : 600px) {
  .spmainheading {
    font-size: 26px;
  }

  .sppara {
    font-size: 16px;
  }

  .tabsp {
    /* width: 100%;
    height: 3px; */
    height: auto;
    gap: 20px;
  }

  .spdesc {
    font-size: 16px;
  }

  .active-tabsp {
    border-bottom: none;
    color: #2693fa;
    height: 3px;
  }

}

