.FeedbackBackground{
  margin-top: 50px;
    background-color: white;
    width:570px;
    height: 550px;
}
.width50{
    width:50%;
  }
@media screen and (max-width: 768px) {   
    .FeedbackBackground{
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height:auto;
        width:100%;  
        margin-top: 30px;
        padding-bottom: 15px;
    }
    .width50{
        width:auto;
      }
      .width75{
        width:75%
      }
   
}